.button{
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 8px 3px #b1b1b1;
    text-decoration: none;
    color: white;   
    &:hover{
        background-color: lighten($color-primary, 10%);
        background-blend-mode: lighten;
    }
}